@model List<Book>;

@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Books</h1>
    <ul>
        @foreach (Book book in Model)
        {   
            <li>
                <h2>@book.Title</h2>
                <img src= "@book.Image" class="img-thumbnail" alt="@book.Title"/>
                 @foreach (Author author in @book.Authors)
                 {
                    <p>By @author.Name</p>
                 }
                <ul>
                @foreach (Genre genre in @book.Genres)
                {
                    <li>@genre.Name</li>
                }
                </ul>               
            </li>
        }
    </ul>
    
</div> *@